.pole{
	width: 200px;
	height: 200px;
	border: 3px solid #00FF00;
	margin-top: 40px;
	margin-left: 15%;
	float: left;
	border-radius: 15px;
}
.pole1{
	width: 200px;
	height: 200px;
	border: 3px solid #00FF00;
	margin-top: 40px;
	margin-left: 60%;
	border-radius: 15px;
}
.background{
	width: 100%;
	background-color: black;
	height:645px;
	float: left;
	border: 1px solid black;
}
.pole2{
	width: 200px;
	height: 200px;
	border: 3px solid #00FF00;
	margin-top: 40px;
	margin-left: 15%;
	float: left;
	border-radius: 15px;
}
.pole3{
	width: 200px;
	height: 200px;
	border: 3px solid #00FF00;
	margin-top: 40px;
	margin-left: 60%;
	border-radius: 15px;
	
}
.srodek{
	width: 75%;
	height: 90%;
	border: 5px solid #00FF00;
	margin-left: 200px;
	margin-top: 30px;
	float: left;
	border-radius: 20px;
}
.logo{
	text-align: center;
	color: white;
	margin-top: 20px;
	font-size: 30px;
}
#suwak{
	margin-left: 20px;
	margin-top: 200px;
	width: 200px;
	margin-right: 20px;
}
.suwak1{
	color:white;
	margin-left: 350px;
}
