/*.pole{
	width: 200px;
	height: 200px;
	border: 3px solid #00FF00;
	margin-top: 40px;
	margin-left: 15%;
	float: left;
	border-radius: 15px;
}
.pole1{
	width: 200px;
	height: 200px;
	border: 3px solid #00FF00;
	margin-top: 40px;
	margin-left: 60%;
	border-radius: 15px;
}*/
body{
	background-color: grey;
	margin: 0;
	padding: 0;
}

/*.pole2{
	width: 200px;
	height: 200px;
	border: 3px solid #00FF00;
	margin-top: 40px;
	margin-left: 15%;
	float: left;
	border-radius: 15px;
}
.pole3{
	width: 200px;
	height: 200px;
	border: 3px solid #00FF00;
	margin-top: 40px;
	margin-left: 60%;
	border-radius: 15px;
	
}*/
.srodek {
	width: 75%;
	height: 600px;
	border: 6px solid transparent;
	position: relative;
	animation: animateFrame 2s linear infinite;
	margin-left: 12%;
	margin-top: 9%;
	border-radius: 20px;
	box-sizing: border-box;
	display: flex;
	padding-top: 220px; 
  }
@keyframes animateFrame {
	0% {
	  border-color: #d0e562; /* Początkowy kolor ramki */
	}
	65% {
	  border-color: #898952; /* Końcowy kolor ramki */
	}
	100% {
		border-color: #d0e562; /* Początkowy kolor ramki */
	  }
  }
  header {
	width: 100%; 
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	position: fixed;
	margin-top: -220px;
	margin-left: -250px;
  }
.logo {
	width: 400px;
	height: auto;
	margin-top: 0; 
  }
  
#suwak{
	margin-left: 20px;
	
	width: 200px;
	margin-right: 20px;
}
.suwak1,
.opis1,
.napis_do_suwaka,
#sliderValue {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-top: -15%;
}
.MusicOTD{
	width: 300px;
	height: 300px;
	display: flex;
	box-sizing: border-box;
	margin-top: 100px;
	margin-left: -58%;
  }