/*.pole{
	width: 200px;
	height: 200px;
	border: 3px solid #00FF00;
	margin-top: 40px;
	margin-left: 15%;
	float: left;
	border-radius: 15px;
}
.pole1{
	width: 200px;
	height: 200px;
	border: 3px solid #00FF00;
	margin-top: 40px;
	margin-left: 60%;
	border-radius: 15px;
}*/
body{
	width: 100% ;
	background-color: grey;
	margin: 0;
	padding: 0;
}

/*.pole2{
	width: 200px;
	height: 200px;
	border: 3px solid #00FF00;
	margin-top: 40px;
	margin-left: 15%;
	float: left;
	border-radius: 15px;
}
.pole3{
	width: 200px;
	height: 200px;
	border: 3px solid #00FF00;
	margin-top: 40px;
	margin-left: 60%;
	border-radius: 15px;
	
}*/
.srodek{
	width: 75%;
	height: 600px;
	border: 6px solid transparent;
	position: relative;
    animation: animateFrame 2s linear infinite;
	margin-left: 12%;
	margin-top: 9%;
	float: left;
	border-radius: 20px;
	box-sizing: border-box;
}
@keyframes animateFrame {
	0% {
	  border-color: #d0e562; /* Początkowy kolor ramki */
	}
	65% {
	  border-color: #898952; /* Końcowy kolor ramki */
	}
	100% {
		border-color: #d0e562; /* Początkowy kolor ramki */
	  }
  }
header{
	height: 200px;
	width: 30%;
	
	justify-content: center;
	padding-left: 37%;
}
  .logo{
	width: 400px;
	height: auto;
	vertical-align: middle;
	float: left;
	margin-top: -20%;
}
#suwak{
	margin-left: 20px;
	
	width: 200px;
	margin-right: 20px;
}
.suwak1{
	color:white;
	margin-left: 37%;
}
.opis1{
	color:white;
	margin-top:200px;
	text-align: center;
}

.napis_do_suwaka{
	color: white;
	margin-top: -34px;
	margin-left:60%;
	float: left;
	
}#sliderValue{
	margin-top: -17px;
	color:white;
	margin-left:88%;
	float: left;
}